@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fjalla+One&family=Gilda+Display&family=Montserrat:wght@100&family=Prompt&display=swap');



* {
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  color: #f9f9f9;
  width: 101%;
  min-height: 100vh;
  background-image: url("assets/bg-lacaida.png");
  background-size: 101%;
  background-repeat: no-repeat;
  display: grid;
  align-items: start;
  font-family: 'Montserrat', sans-serif;
  transition: all 1s linear;
  animation: shadow-inset-center 3s linear both;
  grid-template-rows: 8% 100%;
  overflow-x: hidden;
  background-color: #000000;
}


@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }

  100% {
    box-shadow: inset 0 0 250px 50px rgb(0, 0, 0);
  }
}

.div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: fixed;
  background: rgba(131, 113, 113, 0);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  width: 99.5%;
  z-index: 1;
  animation: slide-top 3s ease-in-out;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
  padding-left: 10px;
}

.ancla-1 {
  font-family: "Euclid Circular A", "Poppins";
  text-decoration: none;
  text-shadow: 3px 2px 5px #000000;
  color: white;
  font-size: 18px;
}

.ancla-1::after {
  content: "";
  display: block;
  height: 1px;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform .5s;
}

.ancla-1:hover::after {
  transform: scale(1, 1);
}

.ancla-1.seleccionada {
  opacity: 50%;
}


.nombre-inicio {
  font-family: 'Gilda Display', serif;
  text-shadow: 3px 2px 5px #000000;
  font-size: 20px;
  color: white;
  animation-duration: 10s;
  animation-name: fade;
  cursor: pointer;
}


@keyframes fade {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.div2 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 100px;
}

.div-texto {
  text-align: center;
}

.text-inicio {
  font-size: 41px;
  width: 600px;
  height: 200px;
  text-shadow: 1px 8px 5px rgba(0, 0, 0, 1);
  position: relative;
  transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  text-transform: uppercase;
  font-family: 'Prompt', sans-serif;
  margin-top: 50px;
  animation: slide-top 3s ease-in-out;
  top: 80px;
  left: 50px;
}

@keyframes slide-top {
  0% {
    transform: translateY(200px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

.text-inicio:hover {
  transform: scale(1.05);
  transition-duration: 1s;
}


.text-inicio-sec {
  font-family: 'Fjalla One', sans-serif;
  margin-left: 295px;
  padding: 15px 25px;
  border-radius: 100px;
  font-size: 170px;
  text-shadow: 3px 2px 5px #000000;
  text-transform: uppercase;
  margin-top: 50px;
}

.text-inicio-sec:hover {
  animation: fade;
  animation-duration: 3s;
}


@keyframes fade {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.span-1 {
  z-index: 0;
  position: absolute;
  border: dotted 4px rgba(255, 255, 255, 0.658);
  width: 300px;
  height: 300px;
  border-radius: 300px;
  right: -140px;
  top: 180px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 60s;
  animation-name: spinner-loading;
  transition: all 1.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


.span-2 {
  z-index: 0;
  position: absolute;
  border: dotted 4px rgba(255, 255, 255, 0.658);
  width: 240px;
  height: 240px;
  border-radius: 300px;
  left: -50px;
  top: 400px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 60s;
  animation-name: spinner-loading;
  transition: all 1.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.span-1:hover {
  background: rgba(131, 113, 113, 0);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  transition-duration: .7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.span-2:hover {
  background: rgba(131, 113, 113, 0);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  transition-duration: .7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


@keyframes spinner-loading {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(1turn)
  }
}

.texto-caida {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  font-family: 'Gilda Display';
  left: 10px;
  font-size: 20px;
  margin-top: 510px;
  width: 150px;
  margin-left: 10px;
  text-shadow: 7px 7px 8px #000000;
}

.texto-diablo {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  font-family: 'Gilda Display';
  margin-top: 275px;
  right: 0;
  font-size: 19px;
  width: 100px;
  text-align: right;
  margin-right: 20px;
  text-shadow: 7px 7px 8px #000000;
}

.text-creatividad {
  position: absolute;
  right: 20px;
  margin-right: 155px;
  font-family: 'Gilda Display', serif;
  font-size: 25px;
  text-shadow: 7px 7px 8px #000000;
  animation-duration: 5s;
  animation-name: fade;
  top: 310px;
}

.text-disciplina {
  position: absolute;
  left: 205px;
  margin-right: 155px;
  font-family: 'Gilda Display', serif;
  font-size: 25px;
  text-shadow: 3px 1px 2px #000000;
  animation-duration: 5s;
  animation-name: fade;
  top: 515px;
  letter-spacing: 0.5px;
}

.text-disciplina::after {
  content: "";
  display: block;
  height: 1px;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform .5s;
}

.text-creatividad::after {
  content: "";
  display: block;
  height: 1px;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform .5s;
}

@keyframes fade {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}


.text-creatividad:hover::after {
  transform: scale(1, 1);
}

.text-disciplina:hover::after {
  transform: scale(1, 1);
}


.button {
  position: fixed;
  overflow: hidden;
  width: 140px;
  height: 50px;
  border-radius: 25px;
  border: 0;
  color: #f7f7f7;
  background: transparent;
  font-family: "Euclid Circular A", "Poppins";
  cursor: pointer;
  transition: 0.3s;
  margin-left: 860px;
  box-shadow: inset 0 0 11px 2px rgba(109, 80, 80);
  top: 50px;
  right: 10px;
  z-index: 1;
}

.button i {
  font-size: 18px;
}

.button-text,
.button-links {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.button-text {
  gap: 10px;
  justify-content: center;
  color: inherit;
  font-size: 16px;
}

.button-links {
  opacity: 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: 0.2s;
  padding-top: 3px;
}

.button-links a {
  translate: 0 50px;
  transition: 0.3s;
}

.button:hover {
  border-radius: 6px;
  box-shadow: inset 0 0 11px 25px rgba(109, 80, 80);

}

.button:hover .button-links a:nth-child(1) {
  transition-delay: 0.05s;
}

.button:hover .button-links a:nth-child(2) {
  transition-delay: 0.1s;
}

.button:hover .button-links a:nth-child(3) {
  transition-delay: 0.15s;
}

.button:hover .button-text {
  translate: 0 -100%;
}

.button:hover .button-links {
  opacity: 1;
}

.button:hover .button-links a {
  translate: 0;
}

.button-links i {
  color: #f7f7f7;
}


#section-sm {
  display: flex;
  position: relative;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 1s ease, transform 4s ease;
  height: 470px
}

#section-sm.mostrar {
  opacity: 1;
  transform: translateY(20px);
}

.titulo-sm {
  font-size: 40px;
  position: absolute;
  font-family: 'Prompt', sans-serif;
  text-shadow: 3px 4px 7px rgb(102, 101, 101);
}

.titulo-sm::after {
  content: "";
  display: block;
  height: 1px;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 1s;
}

.titulo-sm:hover::after {
  transform: scale(1, 1);
}

.text-sm {
  font-size: 22px;
  line-height: 1.5em;
  width: 750px;
  height: 308px;
  margin-top: 120px;
  font-family: "Euclid Circular A", "Poppins";
  transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: 1;
  background-color: black;
}

.text-sm:hover {
  transform: scale(1.02);
  transition-duration: 1s;
  transform-origin: center;
  letter-spacing: 0;
}

.span-3 {
  border: dotted 4px rgba(255, 255, 255, 0.658);
  width: 250px;
  height: 250px;
  border-radius: 300px;
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 60s;
  animation-name: spinner-loading;
  left: 40.9%;
  margin-top: 20%;
}

.text-osadia {
  position: absolute;
  font-family: 'Gilda Display', serif;
  font-size: 28px;
  left: 47.2%;
  margin-top: 39.8%;
  transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  letter-spacing: 0.6px;
}

.text-osadia::after {
  content: "";
  display: block;
  height: 1px;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform .5s;
}

.text-osadia:hover::after {
  transform: scale(1, 1);
}


.contenedor {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 140px;
  position: relative;
}



.imagen img {
  width: 100%;
  height: 400px;
}


.info {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  line-height: 30px;
}

.info p {
  font-size: 20px;
  font-family: "Euclid Circular A", "Poppins";
}

.div-ubicacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.div-edad {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}




::-webkit-scrollbar {
  width: 10px;
  /* Ancho de la barra de desplazamiento */
  background-color: black;
  /* Color de fondo de la barra */
}

/* Estilo del riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: black;
  /* Color de fondo del riel */
}

/* Estilo del mango de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #232323;
  /* Color del mango de la barra */
  border-radius: 5px;
  /* Borde redondeado para el mango */
}

/* Estilo del mango de la barra de desplazamiento cuando se mueve */
::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
  /* Cambia el color al pasar el mouse */
}

/* Estilo del fondo de la barra de desplazamiento cuando se arrastra */
::-webkit-scrollbar-thumb:active {
  background-color: #999999;
  /* Cambia el color cuando se arrastra */
}