@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fjalla+One&family=Gilda+Display&family=Montserrat:wght@100&family=Prompt&display=swap');



* {
  padding: 0px;
  margin: 0px;
}

body {
  color: #f9f9f9;
  width: 100%;
  height: 100vh;
  background-image: url("assets/bg-lacaida.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-items: start;
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  transition: all 1s linear;
  animation: shadow-inset-center 3s linear both;

}


@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent
  }

  100% {
    box-shadow: inset 0 0 130px 2px rgb(0, 0, 0)
  }
}

.div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 0px 10px;
  border-bottom: 1px solid white;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.div1:hover {
  background: rgba(131, 113, 113, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
  animation-duration: 2s;
  animation-name: slidein;
  padding-left: 10px;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 100%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

.ancla-1 {
  font-family: "Euclid Circular A", "Poppins";
  text-decoration: none;
  text-shadow: 3px 2px 5px #000000;
  color: white;
  font-size: 18px;
}

.ancla-1::after {
  content: "";
  display: block;
  height: 1px;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform .5s;
}

.ancla-1:hover::after {
  transform: scale(1, 1);
}


.nombre-inicio {
  font-family: 'Gilda Display', serif;
  ;
  text-shadow: 3px 2px 5px #000000;
  font-size: 20px;
  color: white;
  animation-duration: 10s;
  animation-name: fade;
}


@keyframes fade {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.div2 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 20px;
  margin-bottom: 40px;
  padding: 30px;
}

.div-texto {
  text-align: center;
}

.text-inicio {
  font-size: 40px;
  text-shadow: 3px 2px 5px #000000;
  animation-duration: 3s;
  animation-name: slideinr;
  width: 650px;
  height: 252px;
  text-shadow: 1px 8px 5px rgba(0, 0, 0, 1);
  position: relative;
  padding-top: 35px;
  padding-bottom: 0px;
  margin-bottom: 100px;
  transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  text-transform: uppercase;
  font-family: 'Prompt', sans-serif;
}

.text-inicio:hover {
  transform: scale(1.05);
  transition-duration: 1s;
}

.div-texto .text-inicio::before,
.div-texto .text-inicio::after {
  content: '';
  height: 60px;
  width: 60px;
  position: absolute;
  transition: all .5s ease;
  opacity: 0;
}

.div-texto .text-inicio::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 10px solid #0000008f;
  border-right: 10px solid #0000008f;
  transform: translate(-100%, 50%);
}

.div-texto .text-inicio:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 10px solid #0000008f;
  border-left: 10px solid #0000008f;
  transform: translate(100%, -50%)
}

.div-texto .text-inicio:hover:before,
.div-texto .text-inicio:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}



@keyframes slideinr {
  from {
    margin-left: 500px;
    opacity: 0%;
  }

  to {
    margin-left: 0px;
    opacity: 100%;
  }
}

.text-inicio-sec {
  font-family: 'Fjalla One', sans-serif;
  position: absolute;
  margin-left: 140px;
  margin-top: 230px;
  padding: 25px;
  border-radius: 100px;
  font-size: 180px;
  text-shadow: 3px 2px 5px #000000;
  letter-spacing: normal;
  text-transform: uppercase;
  animation: scale-up-horizontal-center 1s;
}

@keyframes scale-up-horizontal-center {
  0% {
    transform: scaleX(.2);
    opacity: 0%;
  }

  100% {
    transform: scaleX(1);
    opacity: 100%;
  }
}

.text-inicio-sec:hover {
  animation: shadow-inset-center .5s linear both
}

@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent
  }

  100% {
    box-shadow: inset 0 0 14px 10px rgba(0, 0, 0, 1)
  }
}


.span-1 {
  position: absolute;
  border: dotted 4px rgba(255, 255, 255, 0.658);
  width: 300px;
  height: 300px;
  border-radius: 300px;
  left: 1200px;
  bottom: 50px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-name: spinner-loading;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes spinner-loading {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(1turn)
  }
}

.span-1:hover {
  background: rgba(131, 113, 113, 0);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  transition-duration: .5s;
  display: inline-block;
}

.text-creatividad {
  position: absolute;
  margin-top: 200px;
  right: 0;
  margin-right: 203px;
  font-family: 'Gilda Display', serif;
  font-size: 25px;
  text-shadow: 7px 7px 8px #000000;
  animation-duration: 5s;
  animation-name: fade;
}

.text-creatividad::after {
  content: "";
  display: block;
  height: 1px;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform .5s;
}

@keyframes fade {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}


.text-creatividad:hover::after {
  transform: scale(1, 1);
}


.button {
  position: absolute;
  overflow: hidden;
  width: 140px;
  height: 50px;
  border-radius: 25px;
  border: 0;
  color: #f7f7f7;
  background: transparent;
  font-family: "Euclid Circular A", "Poppins";
  cursor: pointer;
  transition: 0.3s;
  margin-left: 830px;
  box-shadow: inset 0 0 11px 5px rgba(0, 0, 0, 1);
}

.button i {
  font-size: 18px;
}

.button-text,
.button-links {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.button-text {
  gap: 10px;
  justify-content: center;
  color: inherit;
  font-size: 16px;
}

.button-links {
  opacity: 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: 0.2s;
  padding-top: 3px;
}

.button-links a {
  translate: 0 50px;
  transition: 0.3s;
}

.button:hover {
  border-radius: 6px;
}

.button:hover .button-links a:nth-child(1) {
  transition-delay: 0.05s;
}

.button:hover .button-links a:nth-child(2) {
  transition-delay: 0.1s;
}

.button:hover .button-links a:nth-child(3) {
  transition-delay: 0.15s;
}

.button:hover .button-text {
  translate: 0 -100%;
}

.button:hover .button-links {
  opacity: 1;
}

.button:hover .button-links a {
  translate: 0;
}

.button-links i {
  color: #f7f7f7;
}