@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fjalla+One&family=Gilda+Display&family=Montserrat:wght@100&family=Prompt&display=swap');



* {
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

/*
body {
  padding: 0px;
  margin: 0px;
  color: #f9f9f9;
  width: 101%;
  min-height: 100vh;
  background-image: url("assets/bg-lacaida.png");
  background-size: 101%;
  background-repeat: no-repeat;
  display: grid;
  align-items: start;
  font-family: 'Montserrat', sans-serif;
  transition: all 1s linear;
  animation: shadow-inset-center 3s linear both;
  grid-template-rows: 8% 100%;
  overflow-x: hidden;
  background-color: #000000;
  scroll-behavior: smooth;
}*/

@media (min-width: 100px) {

  body {
    padding: 0px;
    margin: 0px;
    color: #f9f9f9;
    min-height: 100vh;
    background-image: url("assets/bg-lacaida.png");
    background-size: 101%;
    background-repeat: no-repeat;
    display: grid;
    align-items: start;
    font-family: 'Montserrat', sans-serif;
    transition: all 1s linear;
    animation: shadow-inset-center 3s linear both;
    grid-template-rows: 8% 100%;
    overflow-x: hidden;
    background-color: #000000;
    scroll-behavior: smooth;
  }


  @keyframes shadow-inset-center {
    0% {
      box-shadow: inset 0 0 0 0 transparent;
    }

    100% {
      box-shadow: inset 0 0 250px 50px rgb(0, 0, 0);
    }
  }

  .div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: fixed;
    background: transparent;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    width: 159%;
    z-index: 3;
    animation: slide-top 3s ease-in-out;
    height: 40px;
  }

  .navbar {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 63%;
    height: 40px;
    color: #f9f9f9;
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 10px 4px;
    border-bottom: 1px solid white;
  }

  .ancla-1 {
    font-family: "Euclid Circular A", "Poppins";
    text-decoration: none;
    text-shadow: 3px 2px 5px #000000;
    color: white;
    font-size: 18px;
  }

  .ancla-1::after {
    content: "";
    display: block;
    height: 1px;
    background-color: white;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform .5s;
  }

  .ancla-1:hover::after {
    transform: scale(1, 1);
  }

  .ancla-1.seleccionada {
    opacity: 50%;
  }


  .nombre-inicio {
    font-family: 'Gilda Display', serif;
    text-shadow: 3px 2px 5px #000000;
    font-size: 20px;
    color: white;
    animation-duration: 10s;
    animation-name: fade;
    cursor: pointer;
  }


  @keyframes fade {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  .div2 {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 0px 29px 12px rgb(0 0 0 / 70%) inset;
    overflow: hidden;
    align-items: center;
  }


  .div-texto {
    display: flex;
    flex-direction: column;
  }

  .text-inicio {
    font-size: 20px;
    width: 300px;
    text-shadow: 1px 8px 5px rgba(0, 0, 0, 1);
    transition: all .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
    margin-top: 50px;
    animation: slide-top 3s ease-in-out;
    position: relative;
    top: 20px;
    left: 20px;
  }

  @keyframes slide-top {
    0% {
      transform: translateY(200px);
      opacity: 0%;
    }

    100% {
      transform: translateY(0px);
      opacity: 100%;
    }
  }

  .text-inicio:hover {
    transform: scale(1.05);
    transition-duration: 1s;
  }

  .rombo {
    display: none;
  }

  .rombo2 {
    display: none;
  }

  .rombo2:hover {
    background-color: white;
  }

  .rombo3 {
    display: none;
  }

  .texto-rombo3 {
    display: none;
  }


  .linea {
    display: none;
  }

  .derecha {
    display: none;
  }


  #ancla-rombo2 {
    display: none;
  }


  #ancla-rombo {
    display: none;
  }

  .text-inicio-sec {
    font-family: 'Fjalla One', sans-serif;
    border-radius: 100px;
    font-size: 31px;
    text-shadow: 3px 2px 5px #000000;
    text-transform: uppercase;
    margin-top: 44px;
    animation-name: fade;
    animation-duration: 5s;
    position: relative;
    left: 20%;
  }

  @keyframes fade {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }


  .span-1 {
    z-index: 0;
    position: absolute;
    border: dotted 2px rgba(255, 255, 255, 1);
    width: 100px;
    height: 100px;
    border-radius: 300px;
    top: 180px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 60s;
    animation-name: spinner-loading;
    transition: all 1.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    left: -44px;
  }


  .span-2 {
    z-index: 0;
    position: absolute;
    border: dotted 2px rgba(255, 255, 255, 1);
    width: 80px;
    height: 80px;
    border-radius: 300px;
    left: 86%;
    top: 119px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 60s;
    animation-name: spinner-loading;
    transition: all 1.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }



  @keyframes spinner-loading {
    0% {
      transform: rotate(0deg)
    }

    to {
      transform: rotate(1turn)
    }
  }


  .text-creatividad {
    display: none;
  }

  .text-disciplina {
    display: none;
  }

  .text-disciplina::after {
    content: "";
    display: block;
    height: 1px;
    background-color: white;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform .5s;
  }

  .text-creatividad::after {
    content: "";
    display: block;
    height: 1px;
    background-color: white;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform .5s;
  }

  @keyframes fade {
    0% {
      opacity: 0%;
    }

    100% {
      opacity: 100%;
    }
  }


  .text-creatividad:hover::after {
    transform: scale(1, 1);
  }

  .text-disciplina:hover::after {
    transform: scale(1, 1);
  }


  .button {
    position: fixed;
    overflow: hidden;
    width: 90px;
    height: 40px;
    border-radius: 25px;
    border: 0;
    color: #f7f7f7;
    background: transparent;
    font-family: "Euclid Circular A", "Poppins";
    cursor: pointer;
    transition: 0.3s;
    /* margin-left: 860px; */
    box-shadow: inset 0 0 11px 2px rgba(121, 120, 120, 0.346);
    top: 57px;
    left: 74%;
    z-index: 2;
    backdrop-filter: blur(2.2px);
  }

  .button i {
    font-size: 18px;
  }

  .button-text,
  .button-links {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }

  .button-text {
    gap: 10px;
    justify-content: center;
    color: inherit;
    font-size: 13px;
    margin-left: 4px;
  }

  .button-links {
    opacity: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.2s;
    padding-top: 3px;
  }

  .button-links a {
    translate: 0 50px;
    transition: 0.3s;
  }

  .button-links a img {
    width: 16px;
  }



  .button:hover {
    border-radius: 6px;
    box-shadow: inset 0 0 11px 25px rgba(109, 80, 80);

  }

  .button:hover .button-links a:nth-child(1) {
    transition-delay: 0.05s;
  }

  .button:hover .button-links a:nth-child(2) {
    transition-delay: 0.1s;
  }

  .button:hover .button-links a:nth-child(3) {
    transition-delay: 0.15s;
  }

  .button:hover .button-text {
    translate: 0 -100%;
  }

  .button:hover .button-links {
    opacity: 1;
  }

  .button:hover .button-links a {
    translate: 0;
  }

  .button-links i {
    color: #f7f7f7;
  }


  #section-sm {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: opacity 1s ease, transform 4s ease;
    height: 201px;
    padding-left: 28px;
    padding-top: 20px;
  }

  .titulo-sm {
    font-size: 30px;
    position: absolute;
    font-family: 'Prompt', sans-serif;
    text-shadow: 3px 4px 7px rgb(102, 101, 101);
  }


  .text-sm {
    font-size: 16px;
    line-height: 1.5em;
    width: 310px;
    height: 308px;
    margin-top: 55px;
    font-family: "Euclid Circular A", "Poppins";
    z-index: 0;
    background-color: black;
    padding-top: 3px;
  }

  .text-sm-none {
    display: none;
  }



  .span-3 {
    border: dotted 2px rgba(255, 255, 255, 1);
    width: 80px;
    height: 80px;
    border-radius: 300px;
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 60s;
    animation-name: spinner-loading;
    left: 57%;
    margin-top: 0%;
  }

  .popup-trigger {
    display: none;
  }

  .popup-container {
    display: none;
  }


  .contenedor {
    width: 311px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    z-index: 1;
  }

  .imagen {
    margin-right: 9%;
  }



  .imagen img {
    width: 110px;
    height: 170px;
  }


  .info {
    display: flex;
    flex-direction: column;
    transition: opacity 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    line-height: 30px;
    margin-top: 30px;
  }

  .info p {
    font-size: 16px;
    font-family: "Euclid Circular A", "Poppins";
  }

  .div-ubicacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }

  .icono-info {
    width: 20px;
    height: 20px;
    margin-bottom: 27px;
    margin-right: 12px;
  }

  .div-edad {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }

  #section-educacion {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateY(48%);
    transition: opacity 1s ease, transform 4s ease;
    height: 450px;
    margin-top: 5em;
    gap: 40px;
    opacity: 0;
  }



  #section-educacion.mostrar {
    opacity: 1;
  }

  .div-educacion {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    height: 220px;
  }

  .titulo-edu {
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
    text-shadow: 3px 4px 7px rgb(102, 101, 101);
    margin-bottom: 26px;
    margin-left: 15px;
  }

  .div-text-curso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
  }

  .cursos {
    font-family: "Euclid Circular A", "Poppins";
    font-size: 15px;
    cursor: pointer;
    background-color: black;
    z-index: 1;
    margin-bottom: 15px;
  }

  /* Estilos para el modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 26%;
    top: 33%;
    transform: translate(-50%, -50%);
    width: 313px;
    height: 221px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px;
    transition: opacity 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    object-fit: cover;
    margin-left: 86px;
  }

  .modal img {
    width: 267px;
    height: 179px;
    opacity: 1;
  }

  /* Estilo para el fondo oscuro del modal */
  .modal::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    pointer-events: none;
    transition: opacity 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .modal.abierto::before {
    opacity: 1;
  }

  .modal::after {
    opacity: 0;
  }

  .span-4 {
    border: dotted 2px rgba(255, 255, 255, 1);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 60s;
    animation-name: spinner-loading;
    left: 65%;
    top: -65px;
  }

  .text-consistencia {
    display: none;
  }


  .div-skills {
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 8px;
    height: 500px;
    padding-left: 15px;
    margin-top: 60px;
  }

  .titulo-skills {
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
    text-shadow: 3px 4px 7px rgb(102, 101, 101);
    margin-bottom: 20px;
  }


  .habilidad {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 191px;
    align-items: center;
    z-index: 1;
    background-color: black;
    margin-left: 10px;
  }


  .iconos-skills {
    width: 20px;
    height: 20px;
  }

  .habilidad p {
    font-family: "Euclid Circular A", "Poppins";
    margin-bottom: 0px;
    font-size: 18px;
  }

  .medidor {
    height: 23px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: #333;
    transition: width 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    left: 60.5%;
    position: absolute;
  }

  .medidor::-webkit-meter-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
  }

  .medidor::-webkit-meter-optimum-value,
  .medidor::-webkit-meter-suboptimum-value,
  .medidor::-webkit-meter-even-less-good-value {
    border-radius: 5px;
    background-color: #59f042;
    /* Cambia el color de la parte verde de la barra de progreso */
    width: 0;
    /* Ancho inicial de la parte verde */
  }

  #section-proyectos {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 2s ease;
    height: 450px;
    margin-top: 22em;
    opacity: 0;
  }

  #section-proyectos.mostrar {
    opacity: 1;
    transform: translateY(180px);
  }

  .titulo-proyectos {
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
    text-shadow: 3px 4px 7px rgb(102, 101, 101);
    margin-left: 86px;
  }

  .div-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    flex-wrap: wrap;
    margin-top: 1.5em;
    row-gap: 1em;
    align-content: center;
    width: 315px;
  }

  .text-idea {
    display: none;
  }

  .span-5 {
    border: dotted 2px rgba(255, 255, 255, 1);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 60s;
    animation-name: spinner-loading;
    left: -6%;
    margin-top: -24%;
  }


  .f-proyectos,
  .g-proyectos {
    display: none;
  }


  .div-contenido-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 0.6em;
  }

  .titulo-sec-proyectos {
    font-family: "Euclid Circular A", "Poppins";
    font-size: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: color 0.5s;
  }

  .div-img-proyecto {
    width: 11em;
    height: 5em;
    overflow: hidden;
    position: relative;
    border-radius: 1em;
  }

  .scale-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transform-origin: center bottom;
    animation: scaleAnimation 2.5s ease infinite;
    /* Repetir cada 2 segundos */
    transition: filter 1s ease;
  }


  @keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  .descripcion-proyecto {
    position: absolute;
    top: -11%;
    left: 8%;
    width: 12em;
    color: white;
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 1s, transform 1s;
  }

  .descripcion-proyecto-letras {
    font-family: "Euclid Circular A", "Poppins";
    text-shadow: 3px 1px 2px #000000;
    margin-bottom: 10px;
  }

  .icono-proyectos {
    width: 25px;
    height: 25px;
  }


  .div-contenido-proyectos:hover .descripcion-proyecto {
    opacity: 1;
    transform: translateY(30%);
  }

  .div-contenido-proyectos:hover .scale-image {
    filter: blur(5px) brightness(0.5);
  }


  #section-contacto {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateY(20px);
    opacity: 0;
    transition: opacity 1s ease, transform 4s ease;
    margin-top: 27em;
    background-image: url(assets/bg-expulsion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 12px 15px rgb(0 0 0 / 97%) inset;
    padding-top: 2em;
    align-items: flex-start;
    width: 98.8vw;
  }

  #section-contacto.mostrar {
    opacity: 1;
    transform: translateY(60px);
  }

  .titulo-contacto {
    font-size: 30px;
    font-family: 'Prompt', sans-serif;
    text-shadow: 3px 4px 7px rgb(102, 101, 101);
    left: 33%;
    position: absolute;
    top: -3%;
  }


  .div-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 591px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 385px;
    background-color: transparent;
    padding: 5px 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    margin-left: 92.5%;
  }

  /* Estilo para las etiquetas */
  form label {
    font-weight: bold;
    font-family: "Euclid Circular A", "Poppins";
    font-size: 15px;
    text-shadow: 3px 4px 7px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  /* Estilo para los campos de entrada (input y textarea) */
  form input[type="text"],
  form input[type="email"] {
    width: 150px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    color: #f7f7f7;
    padding: 5px;
    font-family: "Euclid Circular A", "Poppins";
    margin-bottom: 10px;
    text-shadow: 3px 4px 7px rgb(0 0 0);
  }


  form textarea {
    width: 150px;
    height: 87px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;
    color: #f7f7f7;
    padding: 5px;
    font-family: "Euclid Circular A", "Poppins";
    margin-bottom: 10px;
    text-shadow: 3px 4px 7px rgb(0 0 0);
    resize: none;

  }

  /* Estilo para el botón de enviar */
  form input[type="submit"] {
    width: 100px;
    height: 53px;
    background-color: #000000a3;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 19%;
    transition: 1s ease;
    font-size: 15px;
    color: #f7f7f7;
    font-family: "Euclid Circular A", "Poppins";
    margin-top: 5px;
  }

  /* Estilo para el botón de enviar al pasar el ratón por encima */
  form input[type="submit"]:hover {
    background-color: #000000;
    /* Cambia el color al pasar el ratón por encima (puedes cambiarlo) */
  }

  .campo-invalido {
    border: 2px solid red;
    /* Borde rojo cuando no está completo */
  }

  #mensajeError {
    color: white;
    font-size: 15px;
    font-family: "Euclid Circular A", "Poppins";
    position: absolute;
    left: -100%;
    /* Fuera del área visible inicialmente */
    top: 11%;
    transition: left .8s ease;
    border-bottom: 1px solid red;
  }

  .div-msj {
    margin-top: 13em;
    margin-left: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #check {
    opacity: 0;
    display: none;
    color: white;
    font-family: "Euclid Circular A", "Poppins";
    font-size: 26px;
    transition: opacity 0.8s ease-in-out;
    text-shadow: 3px 1px 2px #000000;
  }

  #img-msj {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease-in-out;
    width: 50px;
  }

  .contenido-contacto {
    display: flex;
    flex-direction: row;
    position: absolute;
    column-gap: 3em;
    margin-top: 22.1em;
    left: 10%;
  }

  .divs-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .icono-contacto {
    width: 30px;
  }

  .icono-contacto-w {
    width: 30px;
    margin-left: 21px;
  }

  .ancla-icon-con {
    text-decoration: none;
  }

  .texto-icono {
    color: white;
    font-family: "Euclid Circular A", "Poppins";
    font-size: 15px;
    text-shadow: 3px 1px 2px #000000;
  }

  .text-com {
    display: none;
  }

  .text-com::after {
    content: "";
    display: block;
    height: 1px;
    background-color: white;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform .5s;
  }

  .text-com:hover::after {
    transform: scale(1, 1);
  }


  .span-6 {
    z-index: 0;
    position: absolute;
    border: dotted 2px rgba(255, 255, 255, 1);
    width: 100px;
    height: 100px;
    border-radius: 300px;
    top: 180px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 60s;
    animation-name: spinner-loading;
    transition: all 1.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    left: -29px;
  }


  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: rgba(131, 113, 113, 0);
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    z-index: 1;
    animation: slide-top 3s ease-in-out;
    height: 56px;
    border-top: 1px solid white;
    align-items: center;
  }

  .fg-proyectos {
    position: absolute;
    font-family: 'Gilda Display', serif;
    font-size: 1em;
    left: 2%;
  }

  .span-7 {
    z-index: 0;
    position: absolute;
    border: dotted 2px rgba(255, 255, 255, 1);
    width: 20px;
    height: 20px;
    border-radius: 300px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 60s;
    animation-name: spinner-loading;
    transition: all 1.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }


  button {
    border: 0;
    padding: 0;
    font-family: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
  }


  button .navbar-burger {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 70px;
    height: 70px;
    padding: 0;
    margin-top: 20px;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    box-sizing: border-box;
  }

  .menu-icono {
    width: 30px;
    margin-left: 5px;
  }

  .nombre-inicio {
    font-family: 'Gilda Display', serif;
    text-shadow: 3px 2px 5px #000000;
    font-size: 17px;
    color: white;
    animation-duration: 10s;
    animation-name: fade;
    cursor: pointer;
    text-decoration: none;
  }

  .navbar-title {
    font-size: 14.1px;
    color: white;
    margin-bottom: 0px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 25px;
  }

  .active {
    font-size: 16.2px;
  }

  .navbar-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  body.open .navbar-overlay {
    visibility: visible;
    opacity: 1;
  }

  .navbar-menu>button {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
  }

  .navbar-menu>button.active {
    color: inherit;
  }

  .navbar-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    height: 100%;
    padding: 12px 20px;
    display: flex;
    gap: 1px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    visibility: hidden;
    transition: translate 0.3s;
    padding-left: 5px;
    justify-content: space-between;

  }

  body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
  }
}








::-webkit-scrollbar {
  width: 10px;
  /* Ancho de la barra de desplazamiento */
  background-color: black;
  /* Color de fondo de la barra */
}

/* Estilo del riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: black;
  /* Color de fondo del riel */
}

/* Estilo del mango de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #232323;
  /* Color del mango de la barra */
  border-radius: 5px;
  /* Borde redondeado para el mango */
}

/* Estilo del mango de la barra de desplazamiento cuando se mueve */
::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
  /* Cambia el color al pasar el mouse */
}

/* Estilo del fondo de la barra de desplazamiento cuando se arrastra */
::-webkit-scrollbar-thumb:active {
  background-color: #999999;
  /* Cambia el color cuando se arrastra */
}